body {
    background: rgb(233, 186, 252);
}
/* Select by TAG type */
p {
    color: darkblue;
    background: lightblue;
}
/* Select by ID name (unique) */
#tova {
    background: turquoise;
}
/* Select by CLASS name (shared styles) */
.uniform {
    color: yellow;
}
h1 {
    color: lightcyan;
    font-weight: 200;
    font-style: italic;
    font-size: 32px;
    font-family: Impact;
    text-align: center;
}

/* "comment-out" code
* {
    border: 2px solid red;
}
*/
#tova {
    border: 10px dashed hotpink;
    border-radius: 12px;
    padding: 10px;
    margin: 20px;
    
}

.centered {
    text-align: center;
    margin: auto;
}

img {
    border-width: 8px;
    border-style: double;
    border-color: darkblue;
}